// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header{
  padding-right: 50px;
  padding-top: 20px;
  background-color: gray;
  height: 100px;

}
.panel{

  border-color: red;
  width: 350px;
  text-align: center;

}
